.registration-container {
    display: flex !important; 
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
  }
  
  .logo {
    width: 50% !important;
    display: block;
    background-size: cover;
    height: 100vh;
  }
  
  .reg-form {
    flex: 1 !important;
    padding: 20px;
    height: 100vh;
  }
  
  
    @media screen and (max-width: 635px) { 
        .logo,.reg-form{
            width: 100% !important;
        }
        .logo{
            height: max-content;
        }
        img{
            width: 100%;
        }
        input{
            width: 200px !important;
        }
    }
  
  @media screen and (min-width: 636px) and (max-width:1100px){
      .logo{
          display: none;
      }
      .reg-form{
          width: 100%;
      }
  }
  
